<?xml version="1.0"?>
<config>
    <modules>
        <CeckosLab_OscRegisteredFreeShipping>
            <version>0.0.1</version>
        </CeckosLab_OscRegisteredFreeShipping>
    </modules>
    <frontend>
        <routers>
            <oscregisteredfreeshipping>
                <use>standard</use>
                <args>
                    <module>CeckosLab_OscRegisteredFreeShipping</module>
                    <frontName>oscregisteredfreeshipping</frontName>
                </args>
            </oscregisteredfreeshipping>
        </routers>
        <layout>
            <updates>
                <OscRegisteredFreeShipping module="CeckosLab_OscRegisteredFreeShipping">
                    <file>oscregisteredfreeshipping.xml</file>
                </OscRegisteredFreeShipping>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_onestepcheckout_index_index>
                <observers>
                    <oscregisteredfreeshipping_clear_session>
                        <type>singleton</type>
                        <class>oscregisteredfreeshipping/observer</class>
                        <method>clearSession</method>
                    </oscregisteredfreeshipping_clear_session>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_index>
        </events>
    </frontend>
    <global>
        <models>
            <oscregisteredfreeshipping>
                <class>CeckosLab_OscRegisteredFreeShipping_Model</class>
            </oscregisteredfreeshipping>
            <shipping>
                <rewrite>
                    <carrier_freeshipping>CeckosLab_OscRegisteredFreeShipping_Model_Carrier_Freeshipping</carrier_freeshipping>
                </rewrite>
            </shipping>
        </models>
    </global>
</config>
